@{
	ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
	<hr>
	Copyright &copy; 2025 <b>Shivam Singh</b>.<br>
	For any query or to support me contact at +91-7052989890
	<br> or Email me at singhshiva1499@gmail.com
	<br>or use below links.<br>
	<a target="blank" href="https://twitter.com/shiva_7448"><img src="~/images/twitter.png" class="Privacy-images"></a>
	<a target="blank" href="https://www.instagram.com/shiva_7448/"><img src="~/images/instagram.png" class="Privacy-images"></a>
	<a target="blank" href="https://www.linkedin.com/in/shivam-singh-4620b91b1/"><img src="~/images/linkedin.png" class="Privacy-images"></a>
	<a target="blank" href="#"><img src="~/images/youtube.jpg" class="Privacy-images"></a>

</p>